<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mystery Word Game</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="./styles.css">
  </head>
  <body>
    <div id='gameWord'>
      <h1>Mystery Word Game</h1>
      {{#hiddenwordOutput}}
      {{.}}
      {{/hiddenwordOutput}}
      {{word}}
    </div>
    <div id='makeGuess'>
      {{#errors}}{{.}}{{/errors}}
      <form action="/makeGuess" method="post" id="word_game">
        <input type="text" name="ltr_guess" placeholder="Guess one letter">
        <input type="submit" name="guess" value="Make a guess">
      </form>
    </div>
    <div class="guessesLeft">
      <p>You have {{guessesLeft}} guesses left</p>
      <p>Letters guessed so far: {{#lettersGuessed}}{{.}}{{/lettersGuessed}}</p>
      {{#alrdyGuessedError}}<p>You have already guessed this letter silly rabbit!</p>{{/alrdyGuessedError}}
      {{#wrong}}<p>Wrong, you are as smart as you look!</p>{{/wrong}}
      {{#gameover}}<p>Game over you lose!!!</p>{{/gameover}}
    </div>
    <div>
      <h1>Can you guess the word yet?</h1>
      {{toomanyguesses}}
      <form action="/finalguess" method="post" id="finalguess">
        <input type="text" name="finalGuess" placeholder="Guess the word!">
        <input type="submit" name="final" value="Final Guess">
      </form>
    </div>
    <div>
      <form action="/restartApp" method="post" id="restart">
        <input type="submit" name="restartBtn" value="Restart Game">
      </form>
    </div>
  </body>
</html>
